<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Yumi Interview App</title>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/afroradiohead/yumi-interview" target="_blank">
                        <i class="fa fa-github"></i> Github
                    </a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Yumi Interview <small>By Christopher E. Clarke</small></h3>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <a href="/api/v1/orders?user_id=1" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Get Orders Api</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>